<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>

<%- include('partials/client-fileContainerCss') %>
    
</head>
<body>
  <%- include('partials/client-header') %>

    <div class="container-fluid  ">
        <div class="box-container container d-flex mx-auto my-5 ">

            <!-- Top section -->
            <div class="row main-content">

                <!-- left column -->
                <div class="col-md-9 col-lg-9 left-hero-section my-5 px-4">

                    <!-- blog image container-->
                    <div class="blog-hero-image-container">
                        
                        <!-- Blog hero image -->
                        <div class="blog-hero-image">
                            <img src="<%- imageURL %><%- blog.image[0] %>" style="width: 100%; " alt="..." >
                        </div>  

                        <!-- blog image footer / blog details -->
                        <div class="blog-image-footer my-3">

                            <div class="date footer-items">
                             
                                <span id="date"><%- blog.date %> </span>
                            </div>
                            
                            <div class="tags footer-items" id="tags"> 
                                <!-- <span id="tags"> Newest, Sofa and chair, wooden</span> -->
                                <ul>
                                    <li class="footer-tag-items"><a href="#"><%- blog.subTitle %></a></li>
                                </ul>
                            </div>
                            
                            <div class="author footer-items">
                                By <a href="http://" target="_blank" rel="noopener noreferrer"> <span id="author"><%- blog.author.name %></span></a>
                            </div>
                                                       
                        

                        </div>

                    </div>

                    <!-- blog container -->
                    <div class="blogSlider">
                        <div class="blog-container">
                            <div class="blog-title" id="title"><h1><%- blog.title %></h1></div>
                            <div class="blog-content my-4">
                                <div class="blog-images">
                                    <img src="<%- imageURL %><%- blog.image[1] %>" style="width:50%" alt="...">
                                    <img src="<%- imageURL %><%- blog.image[2] %>" style="width:50%" alt="...">
                                </div>
                                <div class="blog-content-text ">
                                    <%- blog.content %>
                                </div>
                            </div>
                        </div>
                  
                    </div>
                   
                    
                    <!-- blog-navigation -->
                    <div class="blog-navigation my-4">
                        <!-- left -->
                        <div class="left-blog-nav blog-nav-item ">
                            <button type="submit">
                                <i>
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" 
                                    class="svg-inline--fa fa-chevron-left fa-w-10" role="img" viewBox="0 0 320 512">
                                    <path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 
                                    33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57
                                     0-33.94z"/>
                                    </svg>
                                </i>
                            </button>

                            <div class="prev-blog-title nav-blog-title">
                                <h3>Previous blog</h3>
                                <span>Previous</span>
                            </div>
                          
                        </div>

                        <!-- right -->
                        <div class="right-blog-nav blog-nav-item">
                            <div class="next-blog-title nav-blog-title">
                                <h3>Next blog</h3>
                                <span>Next</span>
                            </div>
                            <button type="submit">
                                <i> 
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" role="img" viewBox="0 0 320 512">
                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484
                                         101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 
                                        24.568.001 33.941z"/>
                                    </svg>
                                    
                                </i>
                            </button>

                        </div>
                    </div>

                </div>

                
                <!-- Right column -->
                <div class="col-md-3 col-lg-3  right-blog-section my-5 px-4">
                    
                    <input type="text" name="search" class="inputfield" placeholder="Search">
                    
                    <!-- author -->
                    <div class="blog-author-about my-5">
                        <h6 class="smallHeadings">author</h6>
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <div class="blog-author-image my-4">
                                 <img src="<%- imageURL %><%- blog.author.author_profile_photo %>" style="width: 100%; " alt="author name"> 
                            </div>
                        </a>
                        <h5><%- blog.author.name %></h5>
                        <div class="blog-author-info blog-subtitle">
                           <p> <%- blog.author.authorDescription %></p>
                        </div>
                    </div>

                    <!-- blog categories
                    <div class="blog-categories">
                        <h6 class="smallHeadings">Categories</h6>
                        <ul class="category-list">
                            <li class="category-list-item">
                                <a href="http://" class="category-name" target="_blank" rel="noopener noreferrer">
                                   Abstract art(3)
                                </a>
                            </li>
                            <li class="category-list-item">
                                <a href="http://" class="category-name" target="_blank" rel="noopener noreferrer">
                                   Abstract art(3)
                                </a>
                            </li>
                            <li class="category-list-item">
                                <a href="http://" class="category-name" target="_blank" rel="noopener noreferrer">
                                   Abstract art(3)
                                </a>
                            </li>
                            <li class="category-list-item">
                                <a href="http://" class="category-name" target="_blank" rel="noopener noreferrer">
                                   Abstract art(3)
                                </a>
                            </li>
                            <li class="category-list-item">
                                <a href="http://" class="category-name" target="_blank" rel="noopener noreferrer">
                                   Abstract art(3)
                                </a>
                            </li>
         
                        </ul>
                    </div> -->


                    <!-- recent posts -->
                    <div class="blog-recents my-5">
                        <h6 class="smallHeadings">Recent Posts</h6>
                        <% for (let blog of blogs) { %>
                        <ul class="recent-blogs">
                            <li class="blog-recent-list">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <h4 class="recent-blog-title">
                                     <%- blog.title %>
                                    </h4>
                                    <span class="recent-blog-date">
                                        <%- blog.author.name %>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <% } %>

                    <!-- Tags -->
                    <div class="blog-tags ">
                        <h6 class="smallHeadings">Tags</h6>
                        <ul class="blog-tag-list">
                            <% for(let tag of blog.keywords) { %>
                            <li class="blog-tag-items">
                                <a href="http://" target="_blank" rel="noopener noreferrer"><%- tag %></a> </li>
                            <% } %>
                        </ul>
                    </div>

                    <!-- Social media icon -->
                    <div class="blog-page-social ">
                        <ul class="blog-social-icons">
                            <li class="blog-social-item">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                  </svg>
                                </a>
                            </li>
                            <li class="blog-social-item">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                                  </svg>
                                </a>
                            </li>
                            <li class="blog-social-item">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                                  </svg>
                                </a>
                            </li>
                            <li class="blog-social-item">
                                <a href="http://" target="_blank" rel="noopener noreferrer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                                  </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Comment section -->
                <div class="blog-post-comment my-5 col-md-12 col-lg-9">
                    <form action="#">
                        <h2>Post a Comment</h2>
                        <textarea name="Comment-area" id="comment-area" placeholder="Your comment" class="comment-area" aria-placeholder="Your comment">
                      
                        </textarea>
                        <input type="text" name="Comment-name" id="comment-name" placeholder="Your Name" class="inputfield mt20 mb20" aria-placeholder="Your Name">
                        <input type="text" name="Comment-email" id="comment-email" placeholder="Your Email" class="inputfield  mt20 mb20" aria-placeholder="Your Email">
                        <div class="terms">
                            <input type="checkbox" name="terms-and-condition" id="terms-and-condition" class="inputfield" >
                            <label for="terms-and-condition">Save my name an email in the browser for the next time i comment</label>
                        </div>
                        <button type="submit"class="btn-black mt20">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    
 
</body>
<%- include('partials/client-fileContainerJs') %>

</html>   