<!DOCTYPE html>
<html lang="en" dir="ltr" data-scompiler-id="0">
    <!-- Mirrored from stroyka-admin.html.themeforest.scompiler.ru/variants/ltr/page-faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jan 2022 21:41:25 GMT -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="format-detection" content="telephone=no" />
        <title>faq</title>
        <!-- icon -->
        <%- include('partials/fileContainerCss.ejs')%>
    </head>
    <body>
        <!-- sa-app -->
        <div class="sa-app sa-app--desktop-sidebar-shown sa-app--mobile-sidebar-hidden sa-app--toolbar-fixed">
            <!-- sa-app__sidebar -->
            <%- include('partials/sidebar.ejs')%>
            <!-- sa-app__sidebar / end --><!-- sa-app__content -->
            <div class="sa-app__content">
                <!-- sa-app__toolbar -->
                <%- include('partials/toolbar.ejs')%>
                <!-- sa-app__toolbar / end --><!-- sa-app__body -->
                <div id="top" class="sa-app__body">
                    <div class="py-5 py-md-6 my-2 px-5">
                        <div class="sa-hero-header">
                            <div class="sa-hero-header__title"><h1>Frequently Asked Questions</h1></div>
                            <div class="sa-hero-header__subtitle">
                                Choose the features and functionality your team needs today.<br />
                                Easily upgrade as your company grows.
                            </div>
                            <div class="sa-hero-header__controls"><input type="text" placeholder="Search over FAQ" class="form-control form-control--search-filled mx-auto max-w-25x" /></div>
                        </div>
                    </div>
                    
                    <div class="container container--max--md">
                        <div class="pt-5 new-faq"><a href="/admin/FAQs/new-FAQ" class=" add-new-faq btn btn-primary">Add FAQ</a></div>
                        <div class="accordion" id="accordion-2">
                          
                            <% let i=-1; for(let faq of faqs) { i++ %>
                                <div class="accordion-item card mt-4 ">
                                    <h2 class="accordion-header faq_accordian" id="accordion-2-item-1<%- i %>-header">
                                        <button class="accordion-button sa-hover-area collapsed faq_collapse_button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-2-item-<%- i %>" aria-expanded="false" aria-controls="accordion-2-item-1">
                                            <span class="accordion-sa-icon"></span><%- faq.question%>
                                           
                                            </button>
                                            <div class="dropdown">
                                                <button class="btn btn-sa-muted btn-sm faq-dropdown-btn" type="button" id="category-context-menu-7" data-bs-toggle="dropdown" aria-expanded="false" aria-label="More">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="3" height="13" fill="currentColor">
                                                        <path
                                                            d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z"
                                                        ></path>
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="category-context-menu-7">
                                                    <li><a class="dropdown-item"href="edit/<%- faq.id %>" >Edit</a></li>
                                                    <li><hr class="dropdown-divider" /></li>
                                                    <li><a class="dropdown-item text-danger" href="/admin/FAQs/<%- faq.id %>/delete">Delete</a></li>
                                                </ul>
                                            </div>
                                    </h2>
                                    
                                    <div id="accordion-2-item-<%- i %>" class="accordion-collapse collapse" data-bs-parent="#accordion-2" aria-labelledby="accordion-2-item-<%- i %>-header">
                                        <div class="accordion-body">
                                            <%- faq.answer%>
                                        </div>
                                    </div>
                                </div>

                            <% } %>
                       
                         
                        </div>
                     
                    </div>
                </div>
                <!-- sa-app__body / end --><!-- sa-app__footer -->
                <%- include('partials/footer.ejs')%>
                <!-- sa-app__footer / end -->
            </div>
            <!-- sa-app__content / end --><!-- sa-app__toasts -->
            <div class="sa-app__toasts toast-container bottom-0 end-0"></div>
            <!-- sa-app__toasts / end -->
        </div>
        <!-- sa-app / end --><!-- scripts -->
        <%- include('partials/fileContainerJs.ejs')%>
    </body>
    <!-- Mirrored from stroyka-admin.html.themeforest.scompiler.ru/variants/ltr/page-faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jan 2022 21:41:25 GMT -->
</html>
